.edit-episode {

  #admin-login {
    margin: 30px auto;
    max-width: 300px;

    input {
      margin: 8px 0;
    }

    button {
      margin: 20px 0;
    }
  }

  .form {
    width: 45%;
    border: 1px solid rgba(145, 144, 144, 0.534);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    // height: 600px;
    padding: 30px;
    background-color: #fff;
    margin: 10px auto;

    span {
      width: 100%;
      text-align: center;
      font-size: 12px;
      border-radius: 5px;
      cursor: pointer;
    }

    span:hover {
      background-color: rgba(208, 208, 208, 0.557);
      color: blue;
    }
  }

  .info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(233, 233, 233);
    padding-bottom: 30px;

    .buttons {
      display: flex;
      justify-content: center;
    }

    button {
      width: 120px;
      margin: 10px 0px 0px 10px;
      // margin: 10px auto 0;
    }

    a {
      color: inherit;
      text-decoration: inherit;
      // margin-bottom: 30px;
    }
  }
}