@import 'home';
@import 'menu';
@import 'episodeDetails';
@import 'admin';
@import 'episodeList';
@import 'howToListen';
@import 'editEpisode';
@import 'loading';
@import 'contact';


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  height: 200px;
  background-size: 100%;
  background-position: bottom;
}

.link-white {
  color: white;
  text-decoration: unset;
}

.link-black {
  color: black;
  text-decoration: unset;
}

.active {
  color: rgb(138, 138, 138);
  cursor: default;
}